{#
/**
 * @file
 * Theme override to display a single page.
 */
#}
<div class="site-container">
  <div class="site-content">
    {% include directory ~ '/templates/partials/header.html.twig' %}
    <main class="main">
      {{ page.highlighted }}
      {{ page.help }}
      {{ page.breadcrumbs }}
      {{ page.pre_content }}
      <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
      <div class="grid-container">
        {{ page.content }}
      </div>
    </main>
    {% include directory ~ '/templates/partials/footer.html.twig' %}
  </div>
</div>
