// --------------------------------------------------------------------------
//
//   Standard styles for commonly used HTML elements.
//
//   Note - This file should only contain element-selectors.
//   Keep these to a minimum to avoid inheritance-problems
//   further down the path (see documentation for more info).
//
// --------------------------------------------------------------------------

html,
body {
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  position: relative;
  text-size-adjust: 100%;
}

body {
  font-family: $sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;

  @include hocus() {
    text-decoration: underline;
  }
}

button {
  font-family: $sans-serif;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

address {
  font-style: normal;
}

figure {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%;
}

svg {
  height: auto;
  max-width: 100%;
  overflow: visible;
  width: 100%;
}

ol {
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
  }
}

ul {
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
  }
}

ol ol,
ol ol ol,
ol ol ol ol,
ul ul,
ul ul ul,
ul ul ul ul {
  padding: 0;
}

pre {
  overflow-x: auto;
  white-space: pre-wrap;

  code {
    display: block;
  }
}

hr {
  border: 0;
  display: block;
  height: 1px;
  padding: 0;
  width: 100%;
}

blockquote {
  margin: 0;
}

cite {
  font-style: normal;
}
