// --------------------------------------------------------------------------
//
//   Base typography.
//
//   Styles and rules for commonly used typographic elements.
//
// --------------------------------------------------------------------------

// Responsive typography (uses font-sizes mixin in _mixins.scss).
$paragraph-font-sizes: (
  initial : (1rem, 1.625),
  "large" : (1.125rem)
);

$heading-main-font-sizes: (
  initial: (2rem, 1.1),
  "medium": (3rem),
  "large": (4rem)
);

$heading-secondary-font-sizes: (
  initial: (2rem, 1.2),
  "medium": (2.5rem),
  "large": (3rem)
);

$heading-section-font-sizes: (
  initial: (1.5rem, 1.5),
  "medium": (1.75rem),
  "large": (2rem)
);

$heading-sub-font-sizes: (
  initial: (1.125rem, 1.4),
  "medium": (1.25rem),
  "large": (1.5rem)
);

$heading-label-font-sizes: (
  initial: (1rem, 1.2),
);

$heading-small-font-sizes: (
  initial: (1rem, 1.3),
  "medium": (1.125rem),
  "large": (1.25rem)
);

// Heading base styles.
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $sans-serif;
  font-size: 1.25rem;
  margin: 0;
}

// Paragraph base styles.
p {
  @include font-sizes($paragraph-font-sizes);

  margin: 0 0 1rem;
}
