// --------------------------------------------------------------------------
//
//   Styles for text editor used in Drupal's admin interface.
//
// --------------------------------------------------------------------------

// Global configuration and helpers.
@import "helpers/config";
@import "helpers/colors";
@import "helpers/mixins";

// Base styles.
@import "base/fonts";
@import "base/typography";

/* stylelint-disable */
.cke_editable {
  margin: $global-margin;

  @include breakpoint(large) {
    margin: $global-margin*2;
  }
}
/* stylelint-enable */
