// --------------------------------------------------------------------------
//
//   Print stylesheet that implement styles when printing a page.
//
// --------------------------------------------------------------------------

// Remove padding on body
body {
  padding: 0;
}

// Make sure everything on the site gets printed.
.site {
  height: auto;
  padding: 0 1.5rem;
}

// Remove padding from header top.
.header__top {
  padding: 0;
}

// Hide elements when printing a page.
.region-breadcrumbs,
.region-pre-content,
.header__bottom,
.footer {
  display: none;
}

// Align images with other content.
.content__image {
  margin-left: 0;
  margin-right: 0;
}

// Adjust unneccesary big margins on articles.
.node--type-article {
  margin: 2rem 0;
}

// Hide unneccessary actions like print and bookmark buttons.
.node__bottom {
  display: none;
}

// Hide article related content.
.view--related-article-content {
  display: none;
}

.header__top .menu--utility {
  display: none;
}

// Print styles to modify tablewas.css from the Responsive tables module
.tablesaw-stack tbody tr {
  display: table-row;
}

.tablesaw-stack tbody tr,
.tablesaw-stack tbody th {
  clear: none;
  display: table-cell;
  float: none;
  width: auto;
}
