<footer class="footer">
  <div class="footer__top grid-container">
    <div class="footer__row grid-x grid-margin-x">
      <div class="footer__column cell small-12">
        {{ page.footer_navigation }}
      </div>
    </div>
  </div>
</footer>
