<header class="header js-header">
  <div class="header__top">
    <div class="header__wrapper grid-container">
      <div class="header__row grid-x grid-margin-x">
        <div class="header__column header__column--first cell small-6 large-8">
          {{ page.header }}
        </div>
        <div class="header__column header__column--second cell small-6 large-4">
          <div class="navigation">
            <button aria-label="{{ 'Open main menu'|t }}" class="navigation__toggle navigation__toggle--open js-navigation__toggle--open" aria-expanded="false">
              <span class="navigation__icon"></span>
              <span class="navigation__text">{{ 'Menu'|t }}</span>
            </button>
            {# Fallback hamburger button - checkbox hack #}
            <input class="navigation__checkbox" type="checkbox" id="checkbox-toggle">
            <label for="checkbox-toggle" class="navigation__toggle navigation__toggle--checkbox">
              <span class="navigation__icon"></span>
              <span class="navigation__text">{{ 'Menu'|t }}</span>
            </label>

            <div class="navigation__wrapper js-navigation__wrapper">
              <button aria-label="{{ 'Close main menu'|t }}" class="navigation__toggle navigation__toggle--close js-navigation__toggle--close" aria-expanded="true">
                <span class="navigation__icon"></span>
                <span class="navigation__text">{{ 'Close'|t }}</span>
              </button>
              {{ page.primary_navigation }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
