{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 */
#}

{%
  set body_classes = [
    'body',
    'js-body',
    'no-js',
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    not root_path ? 'frontpage'
  ]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
  </head>
  <body{{ attributes.addClass(body_classes) }}>
    <div class="svg-sprite" style="display:none;">
      {% include directory ~ '/dist/images/svg/sprites/sprite.svg' ignore missing only %}
    </div>
    {#
      Keyboard navigation/accessibility link to main content section in
      page.html.twig.
    #}
    <a href="#main-content" class="visually-hidden focusable">
      {{ 'Skip to main content'|t }}
    </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token }}">
  </body>
</html>
