// --------------------------------------------------------------------------
//
//   Project color variable declarations.
//
// --------------------------------------------------------------------------

// Standard palette.
$color-black: #000;
$color-white: #fff;
$color-light-gray: #f9f9f9;
