// --------------------------------------------------------------------------
//
//   Global configuration and settings file.
//
//   For latest Foundation settings file, visit:
//   https://raw.githubusercontent.com/zurb/foundation-sites/master/scss/settings/_settings.scss.
//
// --------------------------------------------------------------------------

// Make all of Foundations files available and import framework.
@import "util/util";

// Global project settings.
$global-font-size: 100%;
$global-width: rem-calc(1280);
$global-content-width: 45rem;
$global-lineheight: 1.5;
$body-font-family: Helvetica, Roboto, Arial, sans-serif !default;
$body-antialiased: true !default;

// Breakpoints configuration.
$breakpoints: (
  small:  0,
  medium: 768px,
  large: 1024px
);

$breakpoint-classes: (small medium large);

// Grid configuration.
$grid-row-width: $global-width !default;
$grid-column-count: 12 !default;
$grid-margin-gutters: (
  small: 48px,
  medium: 48px,
  large: 48px,
) !default;

// A projects global spacing unit.
$global-spacing-unit: 1rem;

// A tiny version of a projects global spacing unit.
$global-spacing-unit-tiny: $global-spacing-unit/4;

// A small version of a projects global spacing unit.
$global-spacing-unit-small: $global-spacing-unit/2;

// A large version of a projects global spacing unit.
$global-spacing-unit-large: $global-spacing-unit*2;

// A huge version of a projects global spacing unit.
$global-spacing-unit-huge: $global-spacing-unit*4;

// Global radius variables.
$global-radius-round: 999px;

// Z-index map.
$z-indexes: (
  "modal",
  "overlay",
  "above-content",
  "content",
  "below-content"
);

// Global path to images folder.
$image-path: "../images/";

// Global path to fonts folder.
$font-path: "../fonts/";

@import "foundation";
