// --------------------------------------------------------------------------
//
//   Functions to make reusable logic more useful.
//
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
//
//   Function: Z index map making z-indexes
//   easier to manage throughout project.
//
//   Usage:
//   z-index: z-index("modal");
//
// --------------------------------------------------------------------------
@function z-index($name) {
  @if index($z-indexes, $name) {
    @return (length($z-indexes) - index($z-indexes, $name)) + 1;
  }

  @else {
    @error 'There is no item "#{$name}" in this list; choose one of: #{$z-indexes}';

    @return 1;
  }
}
