// --------------------------------------------------------------------------
//
//   Mixins to make commonly used CSS more useful.
//
// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
//
//   Mixin: Utility function for font-sizes mixin.
//
//   Usage:
//   Used in mixin below (@mixin font-sizes).
//
// --------------------------------------------------------------------------
@mixin make-font-size($fs-font-size) {

  // If $fs-font-size is a list, include both font-size and line-height.
  @if type-of($fs-font-size) == "list" {
    font-size: nth($fs-font-size, 1);

    @if (length($fs-font-size) > 1) {
      line-height: nth($fs-font-size, 2);
    }
  }

  @else {
    font-size: $fs-font-size;
  }
}

// --------------------------------------------------------------------------
//
//   Mixin: Font sizes for responsive typography.
//
//   Usage:
//   @include font-sizes($h1-font-sizes);
//
// --------------------------------------------------------------------------
@mixin font-sizes($fs-map, $fs-breakpoints: $breakpoints) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == initial {
      @include make-font-size($fs-font-size);
    }
    @else {
      // If $fs-font-size is a key that exists in
      // $fs-breakpoints, use the value.
      @if map-has-key($fs-breakpoints, $fs-breakpoint) {
        $fs-breakpoint: map-get($fs-breakpoints, $fs-breakpoint);
      }

      @media screen and (min-width: $fs-breakpoint) {
        @include make-font-size($fs-font-size);
      }
    }
  }
}

// --------------------------------------------------------------------------
//
//   Mixin: Maintain an elements aspect ratio.
//
//   Usage:
//   @include responsive-ratio(16/9);
//
// --------------------------------------------------------------------------
@mixin responsive-ratio($x,$y, $pseudo: false) {
  $padding: unquote(( $y / $x ) * 100 + "%");

  @if $pseudo {
    &::before {
      @include pseudo($pos: relative);

      padding-top: $padding;
      width: 100%;
    }
  }

  @else {
    padding-top: $padding;
  }
}

// --------------------------------------------------------------------------
//
//   Mixin: Pseudo.
//
//   Usage:
//   Used in mixin above (@mixin responsive-ratio).
//
// --------------------------------------------------------------------------
@mixin pseudo($display: block, $pos: absolute, $content: "") {
  content: $content;
  display: $display;
  position: $pos;
}

// --------------------------------------------------------------------------
//
//   Mixin: Truncate a string of some sort.
//
//   Usage:
//   @include truncate(100%);
//
// --------------------------------------------------------------------------
@mixin truncate($width: 100%) {
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: $width;
}

// --------------------------------------------------------------------------
//
//   Mixins: Base transitions for consistent transitions
//
//   Usage:
//   @include base-transition(font-size);
//
// --------------------------------------------------------------------------
@mixin base-transition($property: all) {
  transition: $property cubic-bezier(.4, 0, .2, 1) .1s;
}

@mixin base-transition-in($property: all) {
  transition: $property cubic-bezier(0, 0, .2, 1) .25s;
}

@mixin base-transition-out($property: all) {
  transition: $property cubic-bezier(.58, 0, 1, 1) .2s;
}

// --------------------------------------------------------------------------
//
//   Mixin: Visually hidden to visaully hide an element.
//
//   Usage:
//   @include visually-hidden;
//
// --------------------------------------------------------------------------
@mixin visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

// --------------------------------------------------------------------------
//
//   Mixin: Clearfix to allow div with floated elements to have a height.
//
//   Usage:
//   @include clearfix;
//
// --------------------------------------------------------------------------
@mixin clearfix {
  *zoom: 1;

  &::before,
  &::after {
    content: " ";
    display: table;
  }

  &::after {
    clear: both;
  }
}

// --------------------------------------------------------------------------
//
//   Mixin: Reset unordered list to make them appear equal in all browsers.
//
//   Usage:
//   @include reset-list;
//
// --------------------------------------------------------------------------

@mixin reset-list {
  list-style: none;
}

// --------------------------------------------------------------------------
//
//   Mixin: Reset buttons to make them appear equal in all browsers.
//
//   Usage:
//   @include reset-ul;
//
// --------------------------------------------------------------------------
@mixin reset-button {
  appearance: none;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  margin: 0;
  outline: 0;
  padding: 0;
}

// --------------------------------------------------------------------------
//
//   Mixin: Reset input to make them appear equal in all browsers.
//
//   Usage:
//   @include reset-input;
//
// --------------------------------------------------------------------------
@mixin reset-input {
  appearance: none;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  line-height: normal;
  outline: 0;
  padding: 0;
}

// --------------------------------------------------------------------------
//
//   Mixin: Mixin for mobile navigation
//
//   Usage:
//   @include center-xy;
//
// --------------------------------------------------------------------------
@mixin center-xy {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

// --------------------------------------------------------------------------
//
//   Mixin: Mixin helping to generate  `:hover` and `:focus` styles in one go.
//
//   Usage:
//   @include hocus() {
//     text-decoration: underline;
//   };
//
// --------------------------------------------------------------------------
@mixin hocus() {
  &:hover,
  &:focus {
    @content;
  }
}
