{#
/**
 * @file
 * Default theme implementation for an off canvas page wrapper.
 */
#}
{% if children %}
  <div class="site dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
    {{ children }}
  </div>
{% endif %}
