{#
/**
 * @file
 * Theme override to display a menu.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
  1. We use menu_name (see above) to create a CSS class name from it.
  By doing so, every menu will get it's own specific class name so that
  we avoid class clashes ang generate specific markup.
  See https://www.drupal.org/node/2649076
#}
{{ menus.menu_links(items, attributes, 0, menu_name) }}

{% macro menu_links(items, attributes, menu_level, menu_name) %}
  {% import _self as menus %}

  {%
    set menu_classes = [
      'menu',
      'menu--' ~ menu_name|clean_class
    ]
  %}

  {%
    set submenu_classes = [
      'menu-submenu',
      'js-menu-submenu',
    ]
  %}

  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes.addClass(menu_classes) }}>
    {% else %}
      <ul{{ attributes.removeClass(menu_classes).addClass(submenu_classes) }}>
    {% endif %}
    {% for item in items %}
      {%
        set item_classes = [
          'menu-item',
          'menu-item--' ~ menu_name|clean_class,
          item.in_active_trail ? 'menu-item--active-trail',
          item.is_last_trail ? 'menu-item--last-active-trail',
          item.below ? 'menu-item--has-sub-menu js-menu-item--has-sub-menu'
        ]
      %}
      {%
        set link_classes = [
          'menu-link',
          'menu-link--' ~ menu_name|clean_class,
        ]
      %}
      {% if item.below %}
        <li {{ item.attributes.addClass(item_classes) }} tabindex="0" role="button">
          {{
            link(
              {
                '#type': 'inline_template',
                '#template': '{{ title }} <svg class="icon icon--arrow-down icon--white"><use xlink:href="#arrow-outline-down"></use></svg>',
                '#context': {
                  'title': item.title
                }
              },
              item.url,
              item.attributes.removeClass(item_classes).removeClass(button_classes).addClass(link_classes)
            )
          }}
          {{ menus.menu_links(item.below, attributes, menu_level + 1, menu_name) }}
        </li>
      {% else %}
        <li {{ item.attributes.addClass(item_classes) }}>
          {{
            link(
              item.title,
              item.url,
              item.attributes.removeClass(item_classes).removeClass(button_classes).addClass(link_classes)
            )
          }}
        </li>
      {% endif %}
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
