{#
/**
 * @file
 * skatteinfo's theme implementation to display a node.
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
  <header class="node__top">
    {# Title #}
    {{ title_prefix }}
    <h1 class="heading heading--main">
      {{ label }}
    </h1>
    {{ title_suffix }}
  </header>

  <div{{ content_attributes.addClass("content__body") }}>
    {{ content }}
  </div>
</article>
