{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for tabs.
 */
#}

{% block content %}

  {%
    set classes = [
      'tabs',
      logged_in ? 'tabs--logged-in',
      not logged_in ? 'tabs--logged-out'
    ]
  %}

  {% if content %}
    <nav{{ attributes.addClass(classes) }} role="navigation" aria-label="{{ 'Tabs'|t }}">
      {{ content }}
    </nav>
  {% endif %}
{% endblock %}
