// --------------------------------------------------------------------------
//
//   Heading component used to style headings that structure documents.
//
// --------------------------------------------------------------------------

.heading {
  @include base-transition;

  color: $color-black;
  font-weight: 500;
  hyphens: auto;
}

.heading--main {
  @include font-sizes($heading-main-font-sizes);
}

.heading--secondary {
  @include font-sizes($heading-secondary-font-sizes);
}

.heading--section {
  @include font-sizes($heading-section-font-sizes);
}

.heading--sub {
  @include font-sizes($heading-sub-font-sizes);
}

.heading--label {
  @include font-sizes($heading-label-font-sizes);
}

.heading--small {
  @include font-sizes($heading-small-font-sizes);

  font-weight: 400;
}

.heading--uppercase {
  text-transform: uppercase;
}
