.hero {
  height: 100%;
  position: relative;
  width: 100%;
}

.hero__overlay {
  background: linear-gradient(180deg, rgba($color-black, 0) 0%, $color-black 100%);
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
