// --------------------------------------------------------------------------
//
//   Styles for label component in different variations.
//
// --------------------------------------------------------------------------

.label {
  color: $color-black;
  font-size: .875rem;
}

.label--light {
  font-weight: 300;
}

.label--large {
  font-size: 1rem;
}

.label--xlarge {
  font-size: 1.125rem;
}

.label--white {
  color: $color-white;
}

.label--inline {
  display: inline-block;
}
