// --------------------------------------------------------------------------
//
//   Styles for logo component.
//
// --------------------------------------------------------------------------

.logo {
  display: block;
  width: 4rem;

  img {
    height: auto;
    width: inherit;
  }
}

.logo--link {
  @include base-transition;

  @include hocus() {
    opacity: .75;
  }
}
