.menu {
  @include reset-list();

  display: flex;
  flex-direction: column;
}

.menu--main {
  background-color: transparent;
}

.menu-item {
  display: block;
  width: 100%;

  @include breakpoint(large) {
    display: inline-block;
    width: auto;
  }
}

.menu-link {
  color: $color-black;
  display: block;
  width: 100%;
}

.menu-link--main {
  color: $color-black;
  padding: $global-spacing-unit;
  text-align: right;

  @include breakpoint(large) {
    text-align: left;
    width: auto;
  }
}

.menu-link--footer {
  color: $color-white;
}
