// --------------------------------------------------------------------------
//
//   Styles for help messages in Drupal's admin interface.
//
// --------------------------------------------------------------------------

.messages {
  color: $color-black;
  padding: $global-spacing-unit;
  text-align: center;
  width: 100%;

  a {
    @include base-transition;

    color: $color-black;
    font-weight: 500;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: $color-black;
    }
  }

  em {
    font-style: normal;
    font-weight: inherit;
  }
}

.messages--status {
  background-color: rgba($color-black, .25);
}

.messages--warning {
  background-color: rgba($color-black, .5);
}

.messages--error {
  background-color: rgba($color-black, 1);
  color: $color-white;

  a {
    color: $color-white;
  }
}
