.navigation {
  //
}

.navigation__wrapper {
  @include base-transition-out;

  background: $color-light-gray;
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  overflow-y: auto;
  padding-bottom: 3rem;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  visibility: hidden;
  width: 100vw;
  z-index: z-index("overlay");

  .toolbar-vertical &,
  .toolbar-horizontal & {
    top: 2.4375rem;
  }

  .toolbar-horizontal.toolbar-tray-open & {
    top: 4.9375rem;
  }

  .toolbar-horizontal.toolbar-tray-open.no-js & {
    top: 2.4375rem;
  }

  &.is-active {
    @include base-transition-in;

    transform: translateX(0);
    visibility: visible;
  }

  @include breakpoint(large) {
    background-color: transparent;
    height: auto;
    overflow-y: visible;
    padding-bottom: 0;
    position: inherit;
    transform: translateX(0);
    visibility: visible;
    width: 100%;
  }
}

.navigation__toggle {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}

// Mobile navigation
.navigation__toggle--open {
  @include reset-button;

  color: $color-black;
  cursor: pointer;

  .navigation__text {
    margin-left: .5rem;
  }

  .no-js & {
    display: none;
    visibility: hidden;
  }

  @include breakpoint(large) {
    display: none;
  }

  &.is-active {
    display: none;
    visibility: hidden;
  }
}

.navigation__toggle--close {
  @include reset-button;

  color: $color-black;
  padding: $global-spacing-unit;
  text-align: right;
  z-index: z-index("modal");

  .navigation__text {
    margin-left: .5rem;
  }

  .no-js & {
    display: none;
    visibility: hidden;
  }

  .navigation__icon {
    background-color: transparent;

    &::before {
      background-color: $color-black;
      top: 0;
      transform: rotate(135deg);
    }

    &::after {
      background-color: $color-black;
      top: 0;
      transform: rotate(-135deg);
    }
  }

  @include breakpoint("large") {
    display: none;
    visibility: hidden;
  }
}

.navigation__toggle--checkbox {
  cursor: pointer;
  display: none;
  text-align: center;
  visibility: hidden;
  z-index: z-index("modal");

  .no-js & {
    display: flex;
    visibility: visible;

    @include breakpoint(large) {
      display: none;
      visibility: hidden;
    }
  }
}

//Hamburger icon
.navigation__icon {
  position: relative;

  &,
  &::before,
  &::after {
    background-color: $color-black;
    display: inline-block;
    height: 2px;
    width: 1.5rem;
  }

  &::before,
  &::after {
    content: "";
    left: 0;
    position: absolute;
    transition: all .2s;
  }

  &::before {
    top: -.45rem;
  }

  &::after {
    top: .45rem;
  }
}

.navigation__text {
  color: inherit;
  font-size: .75rem;
  font-weight: 700;
  padding-top: .125rem;
}

//Checkbox hack - fallback for mobile menu
.navigation__checkbox {
  display: none;
  visibility: hidden;

  &:checked {
    & ~ .navigation__wrapper {
      transform: translate(0);
      visibility: visible;
    }

    & + .navigation__toggle--checkbox {
      .navigation__icon {
        background-color: transparent;

        &::before {
          top: 0;
          transform: rotate(135deg);
        }

        &::after {
          top: 0;
          transform: rotate(-135deg);
        }
      }
    }
  }
}
