// --------------------------------------------------------------------------
//
//   Styles for preamble component
//
// --------------------------------------------------------------------------

.preamble {
  color: $color-black;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.5;

  @include breakpoint(medium) {
    font-size: 1.5rem;
  }

  @include breakpoint(large) {
    font-size: 1.75rem;
    line-height: 1.4;
  }
}

.preamble--small {
  font-family: $serif;
  font-size: 1rem;
  font-weight: 400;
}

.preamble--center {
  text-align: center;
}
