// --------------------------------------------------------------------------
//
//   Styles for tabs in admin user interface.
//
// --------------------------------------------------------------------------

.tabs {
  width: 100%;
}

.tabs--logged-in {
  background: $color-black;
  bottom: 0;
  box-shadow: 0 -.25rem 2rem -.25rem rgba($color-black, .4);
  position: fixed;
  width: 100%;
  z-index: z-index("modal");

  .tabs-list {
    margin: 0 auto;
    max-width: 36rem;
    width: 100%;

    @include breakpoint(large) {
      justify-content: flex-start;
    }
  }

  .tabs-list__item {
    flex: 1;
    position: relative;

    a {
      color: $color-white;
      display: block;
      font-size: .75rem;
      padding: 1rem .625rem;
      text-align: center;

      &:hover,
      &:focus {
        background-color: $color-black;
      }

      &:active {
        background-color: lighten($color-black, 10%);
      }

      &.is-active {
        background-color: rgba($color-black, 1);
        color: $color-white;
        font-weight: 500;

        &:hover,
        &:focus {
          background-color: lighten($color-black, 5%);
        }

        &:active {
          background-color: lighten($color-black, 10%);
        }
      }

      @include breakpoint(large) {
        font-size: 1rem;
        padding: 1.25rem 1.5rem;
      }
    }
  }

  .tabs-list__item--delete-form {
    a {
      &:hover,
      &:focus {
        background-color: $color-black;
      }

      &:active {
        background-color: lighten($color-black, 10%);
      }
    }
  }

  .tabs-list__item--edit-form {
    a {
      &:hover,
      &:focus {
        background-color: $color-black;
      }

      &:active {
        background-color: lighten($color-black, 10%);
      }
    }
  }
}

.tabs--logged-out {
  border-bottom: .0625rem solid rgba($color-black, .25);
  box-sizing: border-box;

  .tabs-list__item {
    a {
      box-sizing: border-box;
      color: $color-white;
      padding: .75rem 1rem .625rem;

      &:hover,
      &:focus {
        color: $color-black;
      }

      &.is-active {
        border: .0625rem solid rgba($color-black, .25);
        border-bottom: 0;
        color: $color-black;
        padding-bottom: .5625rem;

        &::after {
          background-color: $color-white;
          bottom: -.0625rem;
          content: "";
          display: block;
          height: .0625rem;
          left: 0;
          position: absolute;
          width: 100%;
          z-index: z-index("above-content");
        }
      }
    }
  }
}

.tabs-list {
  @include reset-list;

  display: flex;
}

.tabs-list__item {
  a {
    @include base-transition;

    color: $color-black;
    display: block;
    position: relative;
  }
}
