// --------------------------------------------------------------------------
//
//   Site footer styles.
//
// --------------------------------------------------------------------------

.footer {
  background-color: $color-black;
  color: $color-white;
  display: flex;
  flex-flow: column;
  flex-shrink: 0;
  padding: $global-spacing-unit-huge 0;
  width: 100%;
}

.footer__top {
  width: 100%;
}

.footer__row {
  justify-content: space-between;
}

.footer__column {
  display: flex;
  margin-top: $global-margin;

  &:first-child {
    margin-top: 0;
  }

  @include breakpoint(large) {
    margin-top: 0;
  }
}
