// --------------------------------------------------------------------------
//
//   Site header styles and behaviours.
//
// --------------------------------------------------------------------------

.header {
  @include base-transition-out;

  background: $color-light-gray;
  color: $color-black;
  display: flex;
  flex-flow: column;
  flex-shrink: 0;
  width: 100%;
  z-index: z-index("content");
}

.header--hidden {
  @include base-transition-in;

  opacity: 0;
  z-index: 0;
}

.header__top {
  padding: 1.5rem 0;
  width: 100%;
}

.header__bottom {
  background-color: $color-black;
  position: relative;
  z-index: z-index("above-content");
}

.header__wrapper {
  width: 100%;
}

.header__column {
  align-items: center;
  display: flex;
}

.header__column--second {
  justify-content: flex-end;
}
