// --------------------------------------------------------------------------
//
//   Styles for the main content container.
//
// --------------------------------------------------------------------------

.main {
  background-color: $color-white;
  display: flex;
  flex: 1 0 auto;
  flex-flow: column;
  padding-bottom: $global-spacing-unit;
  padding-top: $global-spacing-unit;
  position: relative;
  width: 100%;

  @include breakpoint(large) {
    padding-bottom: $global-spacing-unit-huge;
    padding-top: $global-spacing-unit-huge;
  }
}
