// --------------------------------------------------------------------------
//
//   Section layout styles.
//
// --------------------------------------------------------------------------

.section {
  margin: 0;
  padding: 0;
  width: 100%;
}
