// --------------------------------------------------------------------------
//
//   Basic site layout styles and behaviours.
//
// --------------------------------------------------------------------------

.site {
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

.site-container {
  height: 100%;
}

.site-content {
  background: $white;
  display: flex;
  flex-flow: column;
  height: 100%;
  margin: 0;
}
